.App {
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}

.MyName {
  width: 100%;
}

h1 {
  font-family: monospace;
  font-weight: 100;
  font-size: 30pt;
  color: white;
}

.MyAdress {
  width: 100%;
}

span {
  font-family: monospace;
  font-weight: 900;
  font-size: 30pt;
  color: cyan;
}

img {
  width: 50%;
  height: 50%;
  border: transparent;
  border-radius: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}